*{
    margin: 0;
    padding: 0;
}

h1{
    margin-bottom: 25px;
    width: 685px;
    height: 35px;
    font-size: 24px;
    padding-top: 18px;
    padding-left: 25px;
    border-left: 5px solid blue;
    color: #333;
}

h2{
    margin-bottom: 25px;
    width: 685px;
    height: 35px;
    font-size: 24px;
    padding-top: 18px;
    padding-left: 25px;
    border-left: 5px solid blue;
    color: #333;
}

@media screen and (max-width:768px){
    h2{
        font-size: 18px;
    }
}

p{
    margin-bottom: 25px;
    width: 685px;
    height: 35px;
    font-size: 19px;
    padding-top: 18px;
    padding-left: 25px;
    color: #2470b1;
    font-weight: bold;

}


.submit{
    background: #009fe8;
    color: #fff;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 20px;
    padding: 6px;
}

@media screen and (max-width:768px){
    .submit{
        font-size: 13px;
        margin-top: 15px;
        color: whitesmoke;
        background: blue;
    }
}

.back{
    background: #009fe8;
    color: #fff;
    font-weight: bold;
    margin-left: 19px;
    font-size: 20px;
    padding: 6px 12px ;
}

@media screen and (max-width:768px){
    .back{
        font-size: 13px;
        color: whitesmoke;
        background: blue;
    }
}
