*{
    margin: 0;
    padding: 0;
}

h1{
    margin-bottom: 25px;
    width: 685px;
    height: 35px;
    font-size: 24px;
    padding-top: 18px;
    padding-left: 25px;
    border-left: 5px solid blue;
    color: #333;
}

h2{
    margin-bottom: 25px;
    width: 685px;
    height: 35px;
    font-size: 24px;
    padding-top: 18px;
    padding-left: 25px;
    border-left: 5px solid blue;
    color: #333;
}

@media screen and (max-width:768px){
    h2{
        font-size: 18px;
    }
}

p{
    margin-bottom: 25px;
    width: 685px;
    height: 35px;
    font-size: 19px;
    padding-top: 18px;
    padding-left: 25px;
    color: #2470b1;
    font-weight: bold;

}


.submit{
    color: navy;
    font-weight: bold;
    margin-left: 25px;
}

@media screen and (max-width:768px){
    .submit{
        font-size: 18px;
        color: black;
        margin-left: 25px;
    }
}